source ~/.vimrc

nnoremap d "_d
nnoremap D "_D
vnoremap d "_d
xnoremap p "_dP

nnoremap <leader>d ""d
nnoremap <leader>D ""D
vnoremap <leader>d ""d

nnoremap G Gzz

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-f> <C-f>zz
nnoremap <C-b> <C-b>zz

nmap <leader>f :action FindInPath<CR>
nmap <leader>sf :action GotoFile<CR>
nmap <leader>sh :action Find<CR>
nmap <leader>sa :action SearchEverywhere<CR>
nmap <leader>ra :action ReplaceInPath<CR>
nmap <leader>rh :action Replace<CR>
nnoremap <C-e> :NERDTreeToggle<CR>
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h

Plug 'preservim/nerdtree'
let g:NERDTreeMapActivateNode="l"
let g:NERDTreeMapJumpParent="h"
