source ~/.vimrc

nnoremap d "_d
nnoremap D "_D
vnoremap d "_d

nnoremap <leader>d ""d
nnoremap <leader>D ""D
vnoremap <leader>d ""d

vnoremap z zz
vnoremap z G Gzz

vnoremap <C-d> <C-d>zz
vnoremap <C-u> <C-u>zz
vnoremap <C-f> <C-f>zz
vnoremap <C-b> <C-b>zz

nmap <leader>f :action FindInPath<CR>
nmap <leader>sf :action GotoFile<CR>
nmap <leader>sh :action Find<CR>
nmap <leader>sa :action SearchEverywhere<CR>
nmap <leader>ra :action ReplaceInPath<CR>
nmap <leader>rh :action Replace<CR>
